{{!
    @template mod_crossduel/answer_panels

    Combined answer panels.
}}

{{#showsingleplayer}}
    {{{singleplayerhtml}}}
{{/showsingleplayer}}

{{#showmultiplayer}}
    {{{multiplayerhtml}}}
{{/showmultiplayer}}

{{#showcompleted}}
    {{{completedhtml}}}
{{/showcompleted}}
